name: Build Android (Signed) APK

on:
  push:
    branches: [ master ]

jobs:
  build-apk:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install NPM dependencies
        run: cd beer-app && npm install

      - name: Instal Ionic and Capacitor
        run: npm install -g @ionic/cli @capacitor/core @capacitor/cli

#      - name: Set development environment variables
#        run: cd beer-app && cp .env.development .env.production

      - name: Build Ionic app
        run: cd beer-app && CI=false ionic build

      - name: Copy Ionic app to Android folder
        run: cd beer-app && CI=false ionic cap copy

      - name: Make gradlew executable
        run: cd beer-app/android && chmod +x ./gradlew

      - name: Build with Gradle
        run: cd beer-app/android && ./gradlew build

      - uses: r0adkll/sign-android-release@v1
        name: Sign app APK
        # ID used to access action output
        id: sign_app
        with:
          releaseDirectory: beer-app/android/app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "28.0.3"

      # Example use of `signedReleaseFile` output -- not needed
      - uses: actions/upload-artifact@v2
        with:
          name: Signed app bundle
          path: ${{steps.sign_app.outputs.signedReleaseFile}}

      - name: Releasing using Hub
        uses: ShaunLWM/action-release-debugapk@master
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          APP_FOLDER: beer-app/android/app/build/outputs/apk/release
          RELEASE_TITLE: Signed release APK
